.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:22px 70px;
    border-bottom:1px solid #e5e5e5;
    background:#fff;
}

.logo{
    display:flex;
    align-items:center;
    gap:10px;
}

.logo-circle{
    width:38px;
    height:38px;
    border-radius:50%;
    background:#13245c;
    color:white;
    display:flex;
    justify-content:center;
    align-items:center;
    font-weight:bold;
}

.logo-text{
    font-size:24px;
    font-weight:bold;
    color:#13245c;
}

.nav-links{
    display:flex;
    list-style:none;
    gap:35px;
}

.nav-links li{
    cursor:pointer;
    color:#555;
    font-size:15px;
}

.nav-links .active{
    color:#13245c;
    font-weight:bold;
}

.touch-btn{
    background:#13245c;
    color:white;
    border:none;
    padding:12px 25px;
    cursor:pointer;
    border-radius:4px;
}

.touch-btn:hover{
    background:#1a2f75;
}

@media(max-width:992px){

.navbar{
flex-direction:column;
gap:20px;
padding:20px;
}

.nav-links{
flex-wrap:wrap;
justify-content:center;
gap:18px;
}

}