*{
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 77px;
    padding: 16px 64px;
    background: #FDFBF7;
    border-bottom: 1px solid #E5E1D8;
    box-sizing: border-box;
    margin: 0 auto;
}

.nav-top {
    max-width: 1280px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.nav-left {
    flex:1;
    display: flex;
    align-items: center;
}

.nav-title-link {
    text-decoration: none;
}

.nav-title {
    font-family: 'poppins', sans-serif;
    font-size: 22px;
    font-weight: 700;
    line-height: 33px;
    color: #091B63;
}

.nav-right {
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 30px;
    flex: 2;
}

.nav-link {
    position: relative;
    text-decoration: none;
    font-family: 'poppins', sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 21px;
    color: #091B63;
    transition: color 0.3s ease;
    cursor: pointer;
}

.nav-link::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0;
    height: 2px;
    background-color: #D95E39;
    transition: width 0.3s ease;
}
.nav-link:hover {
    color: #D95E39;
}

.nav-link:hover::after {
    width: 100%;
}

.nav-link.active {
    color: #D95E39;
}

.nav-link.active::after {
    width: 100%;
}

.Category-bar {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.Category-button {
    width: 160px;
    height: 44px;
    background-color: #081A5B;
    color: #fff;
    border: none;
    border-radius: 0%;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Category-button:hover {
    background-color: #0B2473;
}

.menu-toggle {
    display: none;
    background: none;
    border: none;
    padding: 0;
    z-index: 20;
    color: #091B63;
    cursor: pointer;
}

.hamburger-icon {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.hamburger-icon span {
    width: 26px;
    height: 2px;
    background-color: #091B63;
    display: block;
}

.close-icon {
    font-size: 30px;
    line-height: 1;
    color: #091B63;
}

.Category-bar.desktop-only {
    display: flex;
}

.Category-bar.mobile-only {
    display: none;
}

@media (max-width: 1280px) {

    .navbar {
        width: 100%;
        padding: 16px 40px;
    }

    .nav-right {
        gap: 24px;
    }
}



@media (max-width: 992px) {

    .navbar {
        padding: 16px 24px;
    }

    .nav-title {
        margin: 0;
        font-size: 22px;
        font-weight: 700;
        color: #091B63;
        font-family: 'Poppins', sans-serif;
    }

    .nav-right {
        gap: 16px;
    }

    .nav-link {
        font-size: 15px;
    }
}

@media (max-width: 768px) {
    .navbar {
        padding: 16px 20px;
    }

    .nav-top {
        flex-direction: row;
        align-items: center;
    }

    .menu-toggle {
        display: block;
    }

    .Category-bar.desktop-only {
        display: none;
    
    }

    .nav-right {
        display: none;
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
        position: absolute;
        top: 77px;
        left: 0;
        width: 100%;
        padding: 24px;
        background-color: #FDFBF7;
        border-bottom: 1px solid #E5E1D8;
    }

    .nav-right.active {
        display: flex;
    }

    .Category-bar.mobile-only {
        display: flex;
        width: 100%;
        margin-top: 8px;
    }

    .Category-bar.mobile-only .Category-button {
        width: 100%;
    }
}

    
